@use '../../shared/styles/variables' as v;
@use '../../shared/styles/mixins' as m;

.spread {
  margin: 0 0 v.$spacing-lg 0;
  font-size: v.$font-size-lg;
  font-weight: 500;
  color: var(--text-secondary);
}

.order-book {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: v.$spacing-xxl;
}

.order-book-section {
  h3 {
    margin: 0 0 v.$spacing-md 0;
    font-size: v.$font-size-lg;
    font-weight: 500;
    color: var(--text-primary);
  }

  .header {
    border-bottom: 1px solid var(--border);
  }

  .order-list {
    .order-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: v.$spacing-sm;
      padding: v.$spacing-xs v.$spacing-sm;
      font-size: v.$font-size-sm;

      &:nth-child(even) {
        background: var(--even-row);
      }

      .price,
      .quantity,
      .total {
        text-align: left;
      }
    }

    &.bids > .order-row:not(.header) > .price {
      color: v.$primary-color;
    }

    &.asks > .order-row:not(.header) > .price {
      color: v.$negative-color;
    }
  }
}
